<li id="<%= mnemonic.id %>" class="comment <%= cycle('even','odd') %> alt">
  <div class="comment-body" id="div-comment-987">
    <div class="comment-author vcard">
      <img width="48" height="48" class="avatar avatar-48 photo"
      src="http://0.gravatar.com/avatar/81bad4a57a24bec0a3773cab4c48d6bd?s=48&amp;d=monsterid&amp;r=G" alt="">
      <cite class="fn"><a rel="external nofollow"><%= mnemonic.owner_id %></a></cite> <span class="says">tip:</span>		
    </div>
    <p><%= mnemonic.comment %></p>
  </div>
</li>
