<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

  
    <title> Home</title>
    <link href="stylesheets/index/screen.css" media="screen" rel="stylesheet" type="text/css">
<link href="stylesheets/index/print.css" media="print" rel="stylesheet" type="text/css">
<!--[if lt IE 8]><link href="/stylesheets/blueprint/ie.css?1277496075" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<link href="stylesheets/index/custom.css" media="screen" rel="stylesheet" type="text/css">
</head><body>

    <div class="container">
    <div id="header" class="round">
  <a href="#"><img alt="Sample App" class="round" src="stylesheets/index/logo.png"></a>
  <ul class="navigation round">
    <li><a href="#">Home</a></li>
    
    <li><a href="#help">Help</a></li>
    
    <li><a href="#signin">Sign in</a></li>
    
  </ul>
</div>


      <div id="content" class="round">
        
        
<h1>Flashcard testing</h1>

<p>
 Sample Demo/landing page.
</p>

<%= link_to "Sign in with Facebook", signin_path, {:class => "signup_button round"} %>



      </div>

    <div id="footer">
  <ul class="navigation round">
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#">News</a></li>
  </ul>
</div>

    
    </div>

  </body></html>